.imagen1{  
    display: grid;
    width: 20px;
    height: 15px;
}
h1,h2,h3,p{
    font-size: 20px;
}


body{
    background-color: #B0DAF1;
}
h1{
    font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;

}